<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
</configSections>
<connectionStrings>
    <add name="CuteMIDI.Properties.Settings.ConnectionString" connectionString="Driver={Driver do Microsoft dBase (*.dbf)};collatingsequence=ASCII;defaultdir=C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\Common7\IDE;deleted=0;driverid=533;fil=dBase 5.0;maxbuffersize=2048;pagetimeout=5;statistics=0"
        providerName="System.Data.Odbc" />
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
